body {
    color: var(--color-dark) !important;
}

.email-a {
    color: var(--color-dark);
}

.email-a:hover {
    color: var(--color-dark) !important;
}

.divide{
    background: var(--color-dark);
}

.bottom-line {
    border-bottom: 10px solid var(--color-dark);
    color: var(--color-dark);
}

.container-footer {
    border-top: 4px solid var(--color-dark);
}

.bottom-line:hover {
    border-bottom: 10px solid var(--color-dark);
    color: var(--color-dark) !important;
}

.img_weixin {
    mix-blend-mode: multiply;
}

.swiper-slide a{
    color:var(--color-dark);
}

.scroll-arrow {
    background: url(../images/img/scroll-arrow-b.svg);
}

.scroll-circle {
    background: url(../images/img/scroll-b.svg);
}

.hello {
    color: var(--color-dark);
}

.hello-mobile{
    color: var(--color-dark);
}

.email-a::after,
.footer-bottom-line::after {
    background: var(--color-dark);
}

.footer-bottom-line::after {
    background: var(--color-dark);
}

.pv-date {
    color: var(--color-brand);
    opacity: 1;
}


.section {
    background: var(--color-light);
}
.section-bg {
    background-image: url(../images/uidekko-covers/uidekko-about-day-bg.jpg) !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}
.section-footer {
    background: var(--color-light); !important;
    padding-top: 0vw;
    position: relative;
}

.about-title {
    color: var(--color-dark);
}

.about-h2 {
    color: var(--color-dark);
}

.article-title {
    color: var(--color-dark);
}

.article-title {
    color: var(--color-dark);
}

.gradient-text {
    background-image: linear-gradient(104deg, #dec880, #fff 23%, #ff347d 50%, #827ded);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.container-filter li.tab-fixed{
    border-color: hsla(0, 0%, 100%, 1);
    background-color: hsla(0,0%,90%,0.4);
    -webkit-backdrop-filter: brightness(100%) blur(12px);
    backdrop-filter: brightness(100%) blur(12px);
}

.container-filter li {
    /*background: #EFF2F5;*/
}

.dekko-btn {
    color: var(--color-dark) !important;
    background-image: linear-gradient(13deg, #dec880, #fff 23%, #ff347d 50%, #827ded);
}

.dekko-btn:hover {
    color: var(--color-dark) !important;
    background-image: linear-gradient(135deg, #dec880, #fff 23%, #ff347d 50%, #827ded);
}

.tag{
    border: 1px solid #666666;
}

/*.article-btn {
    border-bottom: 1px solid rgba(0,0,0,.1);
}
*/
/*.article-bottom-line{
    border-bottom: 1px solid rgba(0,0,0,.1);
}*/

.article-btn a:hover {
    color: rgba(5,235,5,1) !important;
}

.text-muted {
    color: rgba(0, 0, 0, 0.4) !important;
}

.text-dark {
    color: var(--color-dark) !important
}

.text-dark:hover {
    color: var(--color-brand) !important
}

#topnav .navbar-toggle.open span:hover {
    background-color: var(--color-dark)
}

.navigation-menu>li>a {
    color: var(--color-dark) !important
}
.navigation-menu>li>a:hover {
    /*color: var(--color-dark) !important*/
}


.home-social a {
    color: var(--color-dark);
}

.home-social a:hover {
    color: var(--color-dark) !important;
}


.container-filter a {
    color: var(--color-dark) !important;
}

.container-filter a:hover {
    color: var(--color-brand) !important;
    opacity: 1;
}

.container-filter a.active {
    color: var(--color-dark) !important;
    opacity: 1;
    background: var(--color-brand);
}

@media(min-width:992px) {

    .navigation-menu>li:hover>a {
        color: var(--color-dark) !important
    }

    #topnav .navigation-menu>li:hover>a {
        color: var(--color-dark)
    }
}

@media(max-width:991px) {

    body {
    background: var(--color-light) !important;
}
.navigation-menu .nav-active a{
        color: var(--color-brand) !important;
    }

    .img_weixin {
        /*border: 1px solid var(--color-dark);*/
        border-radius: 8px;
        width: 48rem;
    }
    #navigation {
        background-color: var(--color-light);
    }

    #topnav {
        mix-blend-mode: normal;
    }

    #topnav .navbar-toggle span {
        background-color: var(--color-dark)
    }

    .container-footer {
        border-top: 2px solid; var(--color-dark);
    }
    .about-p {
    color: var(--color-dark);
    }

    button.mfp-arrow:hover {
    background: transparent;
    }
    .section-footer {
    padding-top: 10vw;
    padding-bottom: 8vw;
    }
    .section-footer-mobile {
    padding-top: 16vw;
    }
    .back-top{
        display: none;
    }
}

@media(max-width:768px) {
    /*#topnav .navigation-menu>li>a {
        color: var(--color-dark) !important
    }*/

}

/*----------magnific-popup------------*/

.mfp-bg {
    background: var(--color-light);
}
.mfp-title {
    color: var(--color-dark);
}

.mfp-arrow-right:after,
.mfp-arrow-right .mfp-a {
    border-left: 17px solid var(--color-dark);
    margin-left: 39px
}
.mfp-arrow-right:hover:after {
    border-left: 17px solid var(--color-dark);
}

.mfp-arrow-left:after,
.mfp-arrow-left .mfp-a {
    border-right: 17px solid var(--color-dark);
    margin-left: 31px
}

.mfp-arrow-left:before,
.mfp-arrow-left .mfp-b {
    margin-left: 25px;
    border-right: 0px solid var(--color-dark)
}

button.mfp-arrow:hover {
    background: #EEF2F8;

}

